/* layout */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  color: #FFF;
}

button {
  padding: 10px 10px;
  border: none;
  background-color: #7BA84D;
  color: #FFF;
}

* {
  box-sizing: border-box;
}

.slides-container {

}

.slide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 1em;
}

.controls {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1em;
}

.toggle-json {
  position: absolute;
  top: 1em;
  right: 1em;
}

.json, .slide, .controls {
  transition: all 0.3s ease;
}

.json {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  padding: 1em;
  overflow: auto;

  -webkit-transform: translateX(100%);
}

.showing-json .json {
  -webkit-transform: translateX(0);
}

.showing-json .slide, .showing-json .controls {
  right: 30%;
}

/* styling */


.control-button {

}

.next-button {
  float: right;
}

.prev-button {
  float: left;
}

.current-slide-num {
  padding: 10px;
  display: inline-block;
}

.code {
  background-color: #222;
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 1.5em;
  zoom: 1;
}

.code:after {
  content: "";
  display: table;
  clear: both;
}

.code div {
  float: left;
  position: relative;
  left: 50%;
}

.code pre {
  float: left;
  position: relative;
  left: -50%;
}

.json {
  padding: 1em;
  background-color: #FFF;
  color: #000;
}

.json pre {
  font-size: 0.8em;
  margin: 0;
}

.json button {
  position: absolute;
  top: 1em;
  right: 1em;
}

h1 {
  font-size: 3em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}